# Part X
Time Series Data

In [24]:
import pandas as pd
from datetime import datetime

In [27]:
d_parser = lambda x: datetime.strptime(x, '%Y-%m-%d %I-%p')
df = pd.read_csv('data/ETH_1h.csv', parse_dates=['Date'], date_parser=d_parser)

In [4]:
eth_df.head(10)

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
5  2020-03-13 03-PM  ETHUSD  128.39  128.90  116.06  124.85  7378976.00
6  2020-03-13 02-PM  ETHUSD  134.03  137.90  125.50  128.39  3733916.89
7  2020-03-13 01-PM  ETHUSD  131.35  140.95  128.99  134.03  9582732.93
8  2020-03-13 12-PM  ETHUSD  128.93  134.60  126.95  131.35  3906590.52
9  2020-03-13 11-AM  ETHUSD  132.60  133.17  126.01  128.93  3311080.29

In [8]:
eth_df['Date']

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [9]:
eth_df.loc[0, 'Date'].day_name()

'Friday'

In [10]:
eth_df['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [11]:
eth_df['Date'].min()

Timestamp('2017-07-01 11:00:00')

In [12]:
eth_df['Date'].max()

Timestamp('2020-03-13 20:00:00')

In [13]:
eth_df['Date'].max() - eth_df['Date'].min()

Timedelta('986 days 09:00:00')

In [17]:
filt = (eth_df['Date'] >= pd.to_datetime('2019-01-01')) & (eth_df['Date'] < pd.to_datetime('2020-01-01'))
eth_df.loc[filt]

                     Date  Symbol    Open    High     Low   Close      Volume
1749  2019-12-31 23:00:00  ETHUSD  128.33  128.69  128.14  128.54   440678.91
1750  2019-12-31 22:00:00  ETHUSD  128.38  128.69  127.95  128.33   554646.02
1751  2019-12-31 21:00:00  ETHUSD  127.86  128.43  127.72  128.38   350155.69
1752  2019-12-31 20:00:00  ETHUSD  127.84  128.34  127.71  127.86   428183.38
1753  2019-12-31 19:00:00  ETHUSD  128.69  128.69  127.60  127.84  1169847.84
...                   ...     ...     ...     ...     ...     ...         ...
10504 2019-01-01 04:00:00  ETHUSD  130.75  133.96  130.74  131.96  2791135.37
10505 2019-01-01 03:00:00  ETHUSD  130.06  130.79  130.06  130.75   503732.63
10506 2019-01-01 02:00:00  ETHUSD  130.79  130.88  129.55  130.06   838183.43
10507 2019-01-01 01:00:00  ETHUSD  131.62  131.62  130.77  130.79   434917.99
10508 2019-01-01 00:00:00  ETHUSD  130.53  131.91  130.48  131.62  1067136.21

[8760 rows x 7 columns]

In [29]:
eth_df.set_index('Date', inplace=True)