# Part I
Installation and Data Loading

In [1]:
import pandas as pd

In [2]:
main_df = pd.read_csv('data/survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='qname')

In [ ]:
main_df.head()

In [ ]:
main_df.tail()

In [ ]:
main_df.shape

In [ ]:
main_df.info()

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
schema_df

# Part II
Selecting Rows and Columns

In [ ]:
main_df.columns

In [ ]:
main_df.iloc[[0, 1]]

In [ ]:
main_df.iloc[[0, 1], 2]

In [ ]:
main_df.loc[19]

In [ ]:
main_df.loc[1:10, 'YearsCodePro']

In [ ]:
main_df['OpSys'].value_counts()

In [ ]:
main_df.loc[0:15, 'OpSys':'SOAccount']

In [ ]:
main_df['DevType'].value_counts()

# Part III
Indexes - Set, Reset, Use

In [ ]:
main_df.set_index('OpSys', inplace=True)

In [ ]:
main_df.loc['Linux-based']

In [ ]:
main_df.reset_index(inplace=True)

In [ ]:
schema_df.columns

In [ ]:
schema_df.sort_index()

In [ ]:
schema_df.loc['Webframe', 'question']

In [ ]:
main_df['WebframeHaveWorkedWith'].unique()

In [ ]:
schema_df.loc['CompTotal', 'question']

In [ ]:
main_df['CompTotal'].mean()

In [ ]:
schema_df.loc['EdLevel', 'question']

In [ ]:
main_df['EdLevel'].unique()

In [ ]:
schema_df.loc['MainBranch', 'question']

In [ ]:
main_df['MainBranch'].unique()

In [ ]:
schema_df.loc['Employment', 'question']

In [ ]:
main_df['Employment'].unique()

# Part IV
Conditionals - Filtering Rows and Columns

In [ ]:
filt = (main_df['MainBranch'] == 'I am a developer by profession')

In [ ]:
main_df.loc[filt]

In [ ]:
main_df.loc[filt, 'Employment']

In [ ]:
high_salary = (main_df['CompTotal'] > 70000)
countries = ['United States of America', 'Germany', 'Canada', 'India', 'United Kingdom']
filt = main_df['Country'].isin(countries)

In [ ]:
main_df.loc[high_salary, ['Country', 'LanguageHaveWorkedWith', 'CompTotal']]

In [ ]:
main_df.loc[filt, ['Country', 'LanguageHaveWorkedWith', 'CompTotal']]

In [ ]:
using_python = main_df['LanguageHaveWorkedWith'].str.contains('Python', na=False)

In [ ]:
main_df.loc[using_python, 'LanguageHaveWorkedWith']

# Part V
Updating Data in DataFrame - Rows and Columns

In [ ]:
main_df.columns

In [ ]:
main_df.columns = main_df.columns.str.replace('NEW', 'New')
main_df.columns = main_df.columns.str.replace('SO', 'So')

In [ ]:
main_df.columns

In [ ]:
# https://stackoverflow.com/questions/1175208/elegant-python-function-to-convert-camelcase-to-snake-case

def camel_to_snake(s):
    return ''.join(['_'+c.lower() if c.isupper() else c for c in s]).lstrip('_')

In [ ]:
main_df.columns = [camel_to_snake(column_name) for column_name in main_df.columns]

In [ ]:
main_df.columns

In [ ]:
main_df['age'] = main_df['age'].map({'Under 18 years old': 'kiddo', '65 years or older': 'old'})
filt = (main_df['age'] == 'kiddo') | (main_df['age'] == 'old')
main_df.loc[filt, 'age']

In [ ]:
main_df['age'] = main_df['age'].map({'kiddo': 'Under 18 years old', 'old': 'Under 18 years old'})
main_df['age']

In [ ]:
main_df['age'].replace({None: ' nothing left here ...'}, inplace=True)
main_df['age']

In [ ]:
main_df.rename(columns={'CompTotal': 'SalaryUSD'}, inplace=True)
main_df['SalaryUSD']

# Part VI
Adding/Removing Data in DataFrame - Rows and Columns

df.drop["col_name"] - remove column
df.drop[index=n] - drop row
df.append - add row (index should be set first)

In [ ]:
filt = main_df['OpSys'] == 'Windows'
main_df.drop(index=main_df[filt].index)['OpSys']

# Part VII
Sorting Data

In [ ]:
main_df.sort_values(by='Country')['Country']

In [ ]:
main_df.sort_values(by=['Country', 'CompTotal'])

In [ ]:
main_df.sort_values(by=['Country', 'CompTotal'], ascending=[True, False], inplace=True)
main_df[['Country', 'CompTotal']].head(50)

In [ ]:
main_df['CompTotal'].nlargest(10)

# Part VIII
Aggregating and Grouping Data

In [ ]:
main_df.describe()

In [ ]:
filt = (main_df['Country'] == 'Poland')
main_df.loc[filt, 'CompTotal'].describe()

In [ ]:
filt = (main_df['Country'] == 'Poland')
main_df.loc[filt, 'Age'].unique()

In [ ]:
main_df['Age'].value_counts()

In [ ]:
main_df['Gender'].value_counts()

In [ ]:
main_df['LanguageHaveWorkedWith'].value_counts()

In [ ]:
main_df['DatabaseHaveWorkedWith'].value_counts()

In [ ]:
main_df['ToolsTechHaveWorkedWith'].value_counts(normalize=True)

In [ ]:
main_df['WebframeHaveWorkedWith'].value_counts(normalize=True)

In [ ]:
main_df['DevType'].value_counts(normalize=True)

In [ ]:
main_df['PlatformHaveWorkedWith'].value_counts()

In [ ]:
main_df['EdLevel'].value_counts(normalize=True)

In [ ]:
main_df['Country'].value_counts()

In [ ]:
country_grp = main_df.groupby(['Country'])

In [ ]:
country_grp.get_group('United States of America')

In [ ]:
country_grp['MainBranch'].value_counts().head(50)

In [ ]:
filt = main_df['Country'] == 'India'
main_df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

In [ ]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [ ]:
country_respondents = main_df['Country'].value_counts()
country_respondents

In [ ]:
country_uses_python = country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

In [ ]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageHaveWorkedWith': 'NumKnowsPython'}, inplace=True)

In [ ]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents'])*100

In [ ]:
python_df.sort_values(by=['PctKnowsPython', 'NumRespondents'], ascending=[False, False]).head(50)

In [ ]:
filt =(python_df['NumRespondents'] >= 100)
big_python_df = python_df.loc[filt] 
big_python_df.sort_values(by=['PctKnowsPython', 'NumRespondents'], ascending=[False, False]).head(50)

# Part IX 
Cleaning Data

In [ ]:
main_df.dropna()

In [ ]:
main_df.dropna(axis='index', how='any', subset=['EdLevel'])

In [ ]:
main_df['YearsCode'].head(10)

In [ ]:
main_df['YearsCode'].unique()

In [ ]:
main_df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
main_df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [ ]:
main_df['YearsCode'].unique()

In [ ]:
main_df['YearsCode'] = main_df['YearsCode'].astype(float)

In [ ]:
main_df['YearsCode'].mean()

In [ ]:
main_df['YearsCode'].median()

_Part X intentionally ommited - is in seperate notebook, due to different data beind used_

# Part XI
Reading/Writting to Different Data Sources - Excel, JSON, SQL, etc.

In [3]:
filt = (main_df['Country'] == 'India')
india_df = main_df.loc[filt]
india_df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,...,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,...,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN

In [ ]:
india_df.to_csv('data/india.csv')

In [ ]:
india_df.to_csv('data/india.tsv', sep='\t')

In [ ]:
new_india_df = pd.read_csv('data/india.tsv', sep='\t')
new_india_df.head()

In [ ]:
india_df.to_excel('data/india.xlsx')

In [ ]:
posts_df = pd.read_json('data/posts.json')
posts_df.head()

In [4]:
from sqlalchemy import create_engine
import psycopg2

In [5]:
engine = create_engine('postgresql://dbrole:dbpass@localhost:5432/sampledb')

In [6]:
india_df.to_sql('new_table', engine, if_exists='replace')

In [7]:
sql_df = pd.read_sql('new_table', engine, index_col = 'ResponseId')
sql_df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,None,None,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,...,25-34 years old,Man,No,None,South Asian,None,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,None,None,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,None,...,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,None,None,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,None,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,None,None,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,None,None,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,None,None,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,...,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN

In [8]:
sql_df = pd.read_sql_query('SELECT * FROM new_table ', engine, index_col = 'ResponseId')
sql_df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,None,None,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,...,25-34 years old,Man,No,None,South Asian,None,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,None,None,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,None,...,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,None,None,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,None,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,None,None,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,None,None,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,None,None,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,...,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN

In [9]:
filt = (main_df['Country'] == 'Poland')
poland_df = main_df.loc[filt]
poland_df.to_sql('poland_table', engine, if_exists='replace')

In [10]:
main_df.to_sql('so_annual_survey_table', engine, if_exists='replace')